# AWS credentials
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=us-east-1
AWS_ACCOUNT_ID=123456789012

# S3 buckets
S3_DVC_BUCKET=your-dvc-bucket-name
S3_RESULTS_BUCKET=melanoma-batch-results

# SQS
SQS_QUEUE_NAME=melanoma-batch-queue

# MLflow (deixe vazio para usar local ./mlruns)
MLFLOW_TRACKING_URI=




