# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.env
.envrc
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Static analysis / editor
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/
.cursorignore
.cursorindexingignore

# OS files
.DS_Store

# MLflow
mlruns/
mlflow.db

# Local datasets and generated artifacts
archive/
notebooks/outputs/

# DVC: ignora conteúdo de data/ e outputs/ mas permite ponteiros .dvc
data/images/
data/masks/
data/metadata.csv
data/ISIC_2020_Training_GroundTruth.csv
data/processed/
data/*
!data/*.dvc

outputs/figures/
outputs/models/**/*.pt
outputs/models/mlflow/
!outputs/models/*.dvc
!outputs/models/**/*.dvc


ec2key-compvision.pem